*.exe
*.o
*.opensdf
*.sav
*.sdf
*.suo
*.user
/.vscode
build/*.cmake
build/CMake*
build/windows
build/*ninja*
build/*.json
cygwin/dist
windows/dist
windows/scores
windows/vs2013/Debug
windows/vs2013/packages
windows/vs2013/Release
windows/mingw/dist
